.reply-card {
  border-top: thin solid #dfdfdf;
  background-color: white;
}
.reply-card:last-child {
  border-top: thin solid #dfdfdf;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.stamp {
  color: #939395;
}
