@import '../../../styles/main';
.star-block {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: white;
  background-color: $red;
}

.card-padding {
  padding: 20px;
}

.border-bottom:last-child {
  border-bottom: 0px !important;
}
