.nav-item {
  color: rgba(0, 0, 0, 0.5);
  .active {
    color: rgba(185, 43, 39, 1);
    border-bottom: 2px solid rgba(185, 43, 39, 1);
  }
  a {
    color: rgba(0, 0, 0, 0.5);
  }
}
.nav-item:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: #00000008;
}

.navbar {
  padding: 0px;
}

.navbar-shadow {
  border-bottom: thin solid rgba(0, 0, 0, 0.118);
  box-shadow: 0px 1px 14px 0px rgba(222, 222, 222, 1);
}
