.question-link {
  color: black;
}

.question-link:hover {
  color: black;
}

.card-body {
  padding-bottom: 5px;
}

.comments-button {
  background-color: inherit;
  border: none;
}
.comments-button:focus {
  outline: none;
}
